doctype html
html
  head
    meta(charset='UTF-8')
    title atom-kak-mode
    link(rel='stylesheet', href='https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css')
  body.sans-serif.near-black.bg-white
    .mw7.center
      .pb3.mb4
        h1.f1.mb1.i atom-kak-mode
        span 
          a(href='http://kakoune.org') Kakoune
          span  emulator in Atom.
    .bt.pv4
      .mw7.center
        h2.mt0 installation
        code $ apm install kak-mode
    .bt.pv4
      .mw7.center
        h2.mt0 keys
        table(cellspacing='0').w-100
          thead
            tr.tl
              each colName, index in ['key', 'description']
                th(class=(index === 0 ? 'tr pr4' : 'tl')).pv2= colName
          tbody
            each val in docs
              tr
                td.bt.tr.ph4
                  h1.code.mv2.ml2= val.name
                td.bt
                  each descItem in val.description.children
                    each descItemChild in descItem.children
                      span.dib.mr1= descItemChild.value
                  each tag in val.tags
                    code.mh1.pv1.ph2.f7.br-pill.bg-mid-gray.white= tag.description
